{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password - Urban Ark Car Rental{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Change Password</h2>
        
        <form method="post" class="auth-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="field-errors">
                    {% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
            <button type="submit" class="submit-btn">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}